body {
  background: gainsboro;
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}


main {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 200px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.container {
  text-align: center;
}

.btn {
  background-color: #007bff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.joke-puchline {
  font-weight: 700;
}

.hide {
  display: none;
}

.red {
  color: red;
}

.try-again {
  background: none;
  border: none;
  text-decoration: underline;
  color: #007bff;
}